<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <!-- Inject a value in the hbs file with 2 open close curly braces and reference to property -->
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>

</html>