<!-- For partial handlebar files we still take advantage of all hbs features -->
<!-- What goes inside of partials is not a complete html document, instead just a part of a webpage -->

<!-- html provides us with a header element -->
<header>
    <h1>{{title}}</h1> <!-- Injecting title which is contained in the render function object of the views -->
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>