/* CommentCopy */
body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;              /* Enable css flexbox */
    flex-direction: column;     /* Everything goes from top to bottom. Default is row */
    min-height: 100vh;          /* vp is Viewport height, a css unit */
}

.main-content {
    flex-grow: 1;               /* Allows an element to grow to take as much space as it needs. 1 means that the main content should take all leftover space */
}

#static_message {
    margin-bottom: 40px;
}

#message_one {
    margin: 40px 40px 0 0;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-family: 'Lucida Sans';
    font-size: 45px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}